html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("./images/bg_color.png") repeat;
  font-size: 1.5rem;
}
#mainContainer {
  height: 200vh;
}
.image a img {
  width: 24.6rem;
  height: 2.7rem;
}
.header {
  width: 95.915%;
  border: 1px solid #c8ccc0;
  border-radius: 10px;
  background: #f6f6ec;
  padding: 6px 8px;
  padding-bottom: 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 7px;
  box-sizing: border-box;
}
.textInput {
  height: 100%;
  width: 50%;
  max-width: 70%;
}
.textSearch {
  height: 26px;
  width: 100%;
  position: relative;
  top: -20px;
  margin-bottom: 0;

  margin-bottom: -10px;
}
input {
  border-radius: 13px;
  border: 1px solid #c8ccc0;
  padding: 0 7px;
  background-color: white;
}
.textSearch input:last-child:hover {
  background: #e8ece0;
  cursor: pointer;
}
.textSearch input:nth-child(2) {
  width: 73.39px;
  height: 26px;
  padding: 2px 7px;
  font-size: 1.7rem;
}
#head1 a {
  text-decoration: none;
  color: #181870;
}
span:nth-child(2),
:nth-child(4) {
  font-weight: bold;
}

#head1 a:hover,
.forumTitle a:hover {
  text-decoration: underline;
}
.header p {
  margin-top: 5px;
}
.head2 {
  position: relative;
  top: -15px;
}
.forumTitle {
  width: 95.915%;
  border: 1px solid #c8ccc0;
  border-radius: 10px;

  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  box-sizing: border-box;
}
.ehead {
  position: relative;
  top: -26.5px;
  padding: 6px 6px;
  background-color: #e8ece0;
  margin-left: -11px;
  margin-right: -11px;
  border: 1px solid #c8ccc0;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top: 0;
  text-align: center;
}
.ehead2 {
  top: -15px;
}

td {
  display: inline;
}
.forumTitle a {
  color: #181870;
  text-decoration: none;
  font-weight: 650;
}
.linkHead {
  position: relative;
  top: -40px;
}
.linkHead3 {
  position: relative;
  top: -30px;
  background-color: #e8ece0;
  margin-left: -11px;
  margin-right: -11px;
  padding: 10px;
  border: 1px solid #c8ccc0;
}
.linkHead4 {
  position: relative;
  top: -20px;
  margin-bottom: -20px;
}
.imageAd {
  position: relative;
  top: 10px;

  height: 130px;
  width: 100%;
}
.imageAd img {
  display: inline-block;
  margin: 3px;
  border: 1px solid #c8ccc0;
  border-radius: 15px;
  padding: 0;
}
.desktop {
  display: none;
}
.imageAd img:hover {
  cursor: pointer;
}

table {
  display: block;
}

.topic {
  text-align: center;
  margin-bottom: 10px;
}
.topic a {
  font-weight: 600;
  font-size: 20px;
}
.foot {
  margin-top: 60px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.footno {
  left: 380px;
}
.imagefoot {
  top: -10px;
}
.flex {
  display: flex;
  justify-content: center;
}
.desktopView {
  display: none;
}
.mobile {
  margin-top: 20px;
}

/* desktop view */
@media screen and (min-width: 1070px) {
  .desktopView {
    display: block;
    margin-top: 20px;
  }
  .mobile {
    display: none;
  }
}
